.btn {
  font-weight: 600;
  line-height: 1.25;
  color: #fff;

  display: block;
  margin: 0 auto;
  max-width: 276px;
  border-radius: 12px;
  padding: 12px 88px;

  background: #3470ff;

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.btn:hover {
    background: #0b44cd;
  }
}
