.filter-container {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;

  margin-top: 84px;
  margin-bottom: 56px;
}

.internal-filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.from-to-container {
  display: flex;
}

.price {
  max-width: 160px;
  min-height: 48px;
  border-radius: 0 12px 12px 0;

  padding: 12px 24px;

  background: #f7f7f7;
}

.price:not(:last-child) {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid #dadde1;
}

.price::placeholder {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

@media (max-width: 375px) {
  .price {
    max-width: 140px;
  }
}

@media (max-width: 768px) {
  .filter-container {
    flex-direction: column;
    align-items: start;
  }
}

@media (min-width: 769px) and (max-width: 1280px) {
  .filter-container {
    flex-direction: column;
    align-items: center;
  }
}
