.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1000;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  max-width: 90%;
  max-height: 500px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;

  overflow-y: scroll;
}

.title {
  margin-bottom: 2rem;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}
