.details-section {
  margin-top: 84px;
  margin-bottom: 104px;
}

.details-container {
  display: flex;
  gap: 72px;
}

.card-form-contaner {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 1280px) {
  .details-container {
    flex-direction: column;
  }
}
