.info-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.card-img {
  min-width: 280px;
  object-fit: cover;
  border-radius: 14px;

  margin-bottom: 1rem;
}

.general-container {
  margin-bottom: 28px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 8px;
}

.main-text {
  font-weight: 500;
  line-height: 1.25;
  color: #101828;
}

.extra-text {
  font-size: 12px;
  line-height: 1.33;
  color: #8d929a;
}

.heart {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.heart:hover {
  transform: scale(1.1);
  fill: #3470ff;
}
