.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 3rem 2rem;

  margin-bottom: 80px;
}

@media (min-width: 768px) {
  .item {
    flex-basis: calc((100% - 32px) / 2);
  }
}

@media (min-width: 1280px) {
  .item {
    flex-basis: calc((100% - 64px) / 3);
  }
}

@media (min-width: 1440px) {
  .item {
    flex-basis: calc((100% - 96px) / 4);
  }
}
