.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  z-index: 1000;
}

.overlayAfterOpen {
  opacity: 1;
  visibility: visible;
}

.overlayBeforeClose {
  opacity: 0;
  visibility: hidden;
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 8px;
  min-width: 300px;
  transition: transform 0.4s ease, opacity 0.4s ease;
  opacity: 1;
  outline: none;
}

@media (max-width: 1280px) {
  .img {
    max-width: 800px;
  }
}

@media (max-width: 900px) {
  .img {
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .img {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .img {
    max-width: 300px;
  }
}

@media (min-width: 1281px) {
  .img {
    max-width: 1024px;
  }
}
