@import url("./reset.css");

:root {
  font-family: "Manrope", sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
