.section {
  padding-top: 236px;
  padding-bottom: 147px;

  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../../assets/home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: #fff;

  margin-bottom: 16px;
}

.paragraph {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  text-align: center;
  color: #fff;

  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .section {
    padding-top: 371px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding-top: 600px;
    padding-bottom: 77px;
  }
}
